.jumbotron{
    margin-top:10%;
        position:relative;
    padding-bottom:12%;
    
}
.img_top{
    margin-bottom:5%;
}
.btn-bot {
    margin:1%;
  display: inline-block;
  float: none;
    border:0px;
}
.exp_bottom{
    padding-bottom:10%;
}
.content_img{
    width:256px;
    height:256px;
}